<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script defer src="./js/index.js"></script>
</head>

<body>

    {{>header}}

    <form action="">
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>

    <p id="messageOne"></p>
    <p id="messageTwo"></p>

    <h5>Created by {{ name }}</h5>
    {{>footer}}
</body>

</html>