<header>
    <h1>Static header hbs</h1>
    <h3>{{title}}</h3>

    <nav class="mainNav">
        <ul>
            <li><a href="/">Weather</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>
</header>